<%= stylesheet_link_tag "home", :media => "all" %>
<!-- <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet"> -->
<div class="container">
  <h1>Welcome to Hill</h1>
  <h4>ヒルクライマーのマッチングアプリ</h4>
</div>
