body {
  color: black;
}

.item-show {
  text-align: center;
  font-size: 36px;
}

.card-body {
  text-align: center;
}

.show_card {
  width: 900px;
  height: 750px;
  margin:100px auto;
  background-color: #ffffff;
  border-radius: 8px;
}
