/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// 基本設定

 body {
   background-image: url("/images/strvback.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   font-family: 'Anton', sans-serif;
   .mypage_contents {
     margin: 0 auto;
   }

 }

 a {
   color: black;
 }

 a:hover {
   color: black;
   text-decoration: none;
   opacity: 0.6;
 }

ul {
  margin: 0;
  padding: 0;
}

 li {
   list-style: none;
   float: left;
 }

 .navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
 }







// 練習会投稿一覧 posts

.post_container {
  display: flex;
}
.post_card {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  float: left;
  margin: 20px;
  p {
    color: black;
  }
}

.post_message {
  border: 1px solid black;
  border-radius: 16px;
  width: 180px;
  height: 100px;
}

// 不明

 .bg-color {
   background-color: rgba(0, 0, 0, 0.4);
   width: 900px;
   margin: 0 auto;
   margin-top: 50px;
 }

 li {
   margin: 0 8px 10px 8px;
   font-size: 20px;
 }

// 更新後の表示
 .to-index > a {
   color: white;
   font-size: 24px;
 }

 .finished > h1 {
   font-size: 24px;
   color: white;
 }

 // ユーザー詳細画面


// フラッシュ
.alert {
  text-align: center;
}

 .alert-notice {
   @extend .alert-success;
 }

 .alert-alert {
   @extend .alert-danger;
 }
