/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// 基本設定
body {
  background-image: url("/images/bg-app.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Anton', sans-serif;

  .mypage_contents {
    margin: 0 auto;
  }
}

a {
  color: black;
}

.nav-item {
  a:hover {
    color: black;
    text-decoration: none;
    opacity: 0.6;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  float: left;
}

.logging_user {
  margin: 15px 20px 0 0;
}

.navbar-brand {
  font-family: 'Abril Fatface', cursive;
  font-size: 24px;
}

.menu_one {
  display: block;
}
// 不明
.bg-color {
  background-color: rgba(0, 0, 0, 0.4);
  width: 900px;
  margin: 50px auto 0;
}

li {
  margin: 0 8px 10px;
  font-size: 20px;
}
// 更新後の表示
.to-index > a {
  color: white;
  font-size: 24px;
}

.finished > h1 {
  font-size: 24px;
  color: white;
}

.menu_index {
  display: inline-block;
  margin-bottom: 15px;
  padding: 2px 8px;
  color: #ffffff;
  font-size: 24px;
  background: blue;
  border-radius: 8px;
}

.place_name_text {
  text-overflow: ellipsis;
}
// ユーザー詳細画面
// フラッシュ
.alert {
  text-align: center;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
