/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

 body {
   background-image: url("/images/strvback.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
 }

 a {
   color: black;
 }

 a:hover {
   color: black;
   text-decoration: none;
   opacity: 0.6;
 }

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

 .bg-color {
   background-color: rgba(0, 0, 0, 0.4);
   width: 900px;
   margin: 0 auto;
   margin-top: 50px;
 }

 li {
   margin: 0 8px 10px 8px;
   font-size: 20px;
 }

// フラッシュ
.alert {
  text-align: center;
}

 .alert-notice {
   @extend .alert-success;
 }

 .alert-alert {
   @extend .alert-danger;
 }
