// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: black;
}

.top-btn {
  color: white;
  &:hover {
    color: white;
    opacity: 0.5;
  }
}

h1 {
  font-size: 80px;
  color: white;
  margin-bottom: 16px;
  font-family: 'Dancing Script', cursive;
}

h4 {
  color: #ffffff;
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  text-align: center;
  margin-top: 300px;
}

.container4 {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.mypage_contents {
  margin-top: 100px;
}

.card {
  float: left;
}

.mypage_contents {
  display: flex;
  text-align: center;
  padding: 0 200px 0 200px;
  .card {
    margin: 0px auto;
  }
  h5, p {
    color: black;
  }
}
