// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  color: black;
}

.item-show {
  text-align: center;
  font-size: 36px;
}

.card {
  margin: 200px auto;
}

.card-body {
  text-align: center;
}

// 機材一覧 items

.index-title > h1 {
  color: #ffffff;
  background-color: #3399FF;
  border-radius: 8px;
  margin: 0 auto;
  width: 700px;
}
