// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "card";
@import "showCard";

body {

}

// ユーザーの詳細画面 users

.users_info {
  background-color: rgba(0, 0, 0, 0.4);
  width: 500px;
  margin: 30px auto 0 auto;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
}

.figure {
  height: 320px;
  width: 250px;
  margin: 60px;
}

.users_show {
  margin-top: 15px;
  text-align: center;
}

.index-nav {
  display: flex;
  ul {
    margin: 8px auto;
  }
}

.second_link {
  font-size: 24px;
  color: white;
  padding: 14px 24px;
  background-color: gray;
  border-radius: 36px;
  display: inline-block;
}

.users_index {
  // text-align: center;

}

.users_index > h1 {
  color: #ffffff;
  background-color: #3399FF;
  border-radius: 8px;
}

// 一覧users show

.user_infomation {
  width: 1560px;
  margin: 0 auto;
}

.user_show_cont {
 width: 500px;
 float: left;
 text-align: center;
 margin: 0 10px;
}

.table-container {
 display: flex;
}

// 機材カフェ一覧 users

.index-title > h1 {
  color: #ffffff;
  background-color: #3399FF;
  border-radius: 8px;
  margin: 0 auto;
  width: 500px;
}

// カフェ一覧 places

.place_name {
  margin: 0;
}


.table-borderless {
  background-color: rgba(0, 0, 0, 0.4);
  width: 700px;
  text-align: center;
  margin: 0 auto;
  th, td, .show-link {
    color: #ffffff;
  }
}
