<%= stylesheet_link_tag "places", :media => "all" %>

<div class="item-show">
  
</div>
<div class="show_card">
  <img src="<%= "/place_images/#{@place.image_name}" %>" class="card-img-top" alt="..." width="500" height="450">
  <div class="card-body">
    <h5 class="card-title"><%= @place.name %></h5>
    <p class="card-text"><%= @place.message %></p>
    <a href="#" class="btn btn-primary">お気に入り登録</a>
  </div>
</div>
